<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="~{fragments/header::header}">
</head>
<body>
    <!--头部-->
    <div th:replace="~{fragments/header::top}"></div>
    <!--中间部分-->
    <div class="container">
        <div class="row">
            <form class="form-horizontal" role="form" action="/sendEmail" method="post">
                <div class="form-group">
                    <label for="firstname" class="col-md-1 col-md-offset-3 control-label">邮箱</label>
                    <div class="col-md-4">
                        <input type="email" class="form-control" name="email" id="firstname" placeholder="请输入你注册的邮箱">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-4 col-md-2">
                        <button type="submit" class="btn btn-default">下一步</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!--底部-->
    <div class="container-fluid nav2">
        <span>天涯海角</span>
    </div>
</body>
</html>