<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<html lang="en" class="no-js">
<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge"> 
<meta name="viewport" content="width=device-width, initial-scale=1"> 
<title>天涯海角</title>
<link rel="stylesheet" type="text/css" href="css/normalize.css" th:href="@{/css/normalize.css}"/>
<link rel="stylesheet" type="text/css" href="css/demo.css" th:href="@{/css/demo.css}"/>
<!--必要样式-->
<link rel="stylesheet" type="text/css" href="css/component.css" th:href="@{/css/component.css}"/>
<script src="js/jquery-2.1.0.min.js" th:src="@{/js/jquery-2.1.0.min.js}"></script>
<!--[if IE]>
<script src="js/html5.js" th:src="@{/js/html5.js}"></script>
<![endif]-->
<script>
	$(function(){
		$(".btn").mouseover(function(){
			$(this).css("background","#FFD39B");
		});
		$(".btn").mouseout(function(){
			$(this).css("background","#7accc8");
		});
		$(".btn").click(function(){
			window.location.href='/index2';
		});
	})
</script>
</head>
<body>
	<!-- 代码部分begin -->
    <div class="container demo-1">
        <div class="content">
            <div id="large-header" class="large-header">
                <canvas id="demo-canvas"></canvas>
                <h1 class="main-title">天涯 <span class="thin">海角</span></h1>
                <button  href="/index2" th:href="@{/index2}" class="main-title btn" style="border-radius: 3px;
									   		-webkit-border-radius: 3px;
									   		margin-top:300px;
									   		width:200px;
									   		height:50px;
									   		font-size:20px;
									   		color:#fff;									   		
									   		background: #7accc8;
									   		border:none;
									   		font-family: 'Lato', sans-serif;">点此去 >>>
                </button>
            </div>
        </div>
    </div>
    <script src="js/TweenLite.min.js" th:src="@{/js/TweenLite.min.js}"></script>
    <script src="js/EasePack.min.js" th:src="@{/js/EasePack.min.js}"></script>
    <script src="js/rAF.js" th:src="@{/js/rAF.js}"></script>
    <script src="js/demo-1.js" th:src="@{/js/demo-1.js}"></script>
    <!-- 代码部分end -->
</body>
</html>